* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input {
  margin-top: 20px;
  width: 100%;
  background-color: black;
  color: white;
  padding: 6% 4%;
  outline: none;
  border-radius: 9px;
  border: none;
}
input::placeholder {
  color: white;
}
.Search-icon {
  position: absolute;
  right: 35px;
  top: 40px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h2 {
  font-size: 24px;
}
.Icon {
  background: rgba(217, 217, 217, 1);
  height: 51px;
  width: 56px;
  border-radius: 50px;
}
.Lists {
  display: flex;
  align-items: center;
}
.Lists h5 {
  margin: 0 8px;
  font-size: 14px;
}
.Arrow {
  border: 1px solid black;
  width: 4%;
}
.Navbar {
  position: absolute;
  bottom: 12%;
  font-size: 16px;
}
.Navbar ul {
  display: flex;
}
.Navbar ul li {
  list-style: none;
}
.Navbar ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.Navbar ul .list {
  margin: 0 10px;
}
@media screen and (max-width: 393px) {
  .Navbar {
    position: absolute;
    bottom: 12%;
    right: 11%;
  }
}
@media screen and (max-width: 375px) {
  .Navbar {
    position: absolute;
    bottom: 12%;
    right: 8%;
  }
}
