<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section class="container Main-Body">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">Create new account</h2>
        </div>
      </div>
      <div class="Input-Section">
        <div class="row container">
          <div class="col-12">
            <input type="number" placeholder="Phone number" required />
          </div>
          <div class="col-12">
            <input type="password" placeholder="Password" required />
          </div>
          <div class="col-12">
            <input type="password" placeholder="Repeat Password" required />
          </div>
        </div>
        <div class="row container Ending-Section">
          <div class="col-12">
            <a href="../Artist/artist.html">
              <input type="button" value="Create Account"
            /></a>
          </div>
          <div class="col-12 mt-4">
            <h5 class="text-center">
              Have an Account?
              <span><a href="../../index.html">Sign in</a></span>
            </h5>
          </div>
          <div class="col-12 mt-4">
            <h5 class="text-center fw-bold">Or</h5>
          </div>
          <div class="col-12 mt-4">
            <h5 class="text-center">
              <a href="http://">Guest</a>
            </h5>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
